*{
  margin:0;
  padding:0;
}
.heading {
  font-size: 3rem;
  color: rgb(247, 235, 235);
  font-weight: bolder;
  }

.menu-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(148, 85, 14);
  padding: 1rem;
  visibility: visible;
  border-bottom-right-radius: 20px;
}

.container:hover .menu-bar {
  border-bottom-right-radius: 0px;
}


.container {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 100vh;
  background-color: #83741e;
  transform: translate(-90%);
  font-size: 3rem;
  visibility: hidden;
}

.container:hover, .menu-bar:hover {
  transform: translate(0%);
  transition: ease-in 350ms;
  visibility: visible;
}

.container:hover i {
  transform: rotate(180deg);
  transition: ease-in 300ms;
}

.menu-items {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.menu-items a {
  text-decoration: none;
  color: rgb(10, 8, 8);
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-items a:hover {
  color: brown;
  transition: ease-in 200ms;
}

